<div class="main">
  <app-navbar></app-navbar>
  <div class="content">
    <div class="innercontent">
      <div class="content-header">
        <h1>Find the right freelance, service right away</h1>
      </div>

      <div class="search-container">
        <div class="search-box">
          <input type="text" class="search-input" placeholder="Search..." />
          <button class="search-button" type="submit">
            <i class="fa-solid fa-magnifying-glass" style="color: white"></i>
          </button>
        </div>
        <div class="services_container">
          <h3>Some services:</h3>

          <div class="services">
            <div class="services-row1">
              <div class="items">Developers</div>
              <div class="items">Cleaners</div>
            </div>
            <div class="services-row2">
              <div class="items">Designers</div>
              <div class="items">Caregivers</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="image">
      <img src="../../../assets/snippedlanding.png" alt="" />
    </div>
  </div>

  <section class="services-container">
    <h5 style="margin-left: 20px">Trending Services:</h5>
    <div
      id="serviceCarousel"
      class="carousel slide"
      data-ride="carousel"
      data-interval="2000"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="service-cards">
            <div class="card">
              <img
                src="../../../assets/webdev1.jpg"
                class="card-image"
                alt="Card Background"
              />
              <div class="card-content">
                <p class="card-text">Develop Websites</p>
                <h5>Web Development</h5>
              </div>
            </div>
            <div class="card">
              <img
                src="../../../assets/webdev1.jpg"
                class="card-image"
                alt="Card Background"
              />
              <div class="card-content">
                <p class="card-text">Develop Websites</p>
                <h5>Web Development</h5>
              </div>
            </div>
            <div class="card">
              <img
                src="../../../assets/webdev1.jpg"
                class="card-image"
                alt="Card Background"
              />
              <div class="card-content">
                <p class="card-text">Develop Websites</p>
                <h5>Web Development</h5>
              </div>
            </div>
            <div class="card">
              <img
                src="../../../assets/webdev1.jpg"
                class="card-image"
                alt="Card Background"
              />
              <div class="card-content">
                <p class="card-text">Develop Websites</p>
                <h5>Web Development</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="service-cards">
            <div class="card">
              <img
                src="../../../assets/webdev1.jpg"
                class="card-image"
                alt="Card Background"
              />
              <div class="card-content">
                <p class="card-text">Develop Websites</p>
                <h5>Web Development</h5>
              </div>
            </div>
            <div class="card">
              <img
                src="../../../assets/webdev1.jpg"
                class="card-image"
                alt="Card Background"
              />
              <div class="card-content">
                <p class="card-text">Develop Websites</p>
                <h5>Web Development</h5>
              </div>
            </div>
            <div class="card">
              <img
                src="../../../assets/webdev1.jpg"
                class="card-image"
                alt="Card Background"
              />
              <div class="card-content">
                <p class="card-text">Develop Websites</p>
                <h5>Web Development</h5>
              </div>
            </div>
            <div class="card">
              <img
                src="../../../assets/webdev1.jpg"
                class="card-image"
                alt="Card Background"
              />
              <div class="card-content">
                <p class="card-text">Develop Websites</p>
                <h5>Web Development</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="proffessionals-container">
    <h5 style="margin-left: 20px">Meet Our Proffessionals:</h5>
    <p>Care Givers</p>
    <div class="category">
      <div class="card" style="width: 15rem">
        <div
          class="image"
          style="
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            margin: auto;
          "
        >
          <img
            src="../../../assets/profile.jpg"
            alt="Image"
            style="width: 100%; height: auto"
          />
        </div>
        <div class="card-body text">
          <p class="cardheading" style="color: black">James Kariuki</p>
          <p class="info" style="color: black">James Kariuki</p>
          <div class="ratings">
            <i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i>
          </div>
        </div>
      </div>
      <div class="card" style="width: 15rem">
        <div
          class="image"
          style="
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            margin: auto;
          "
        >
          <img
            src="../../../assets/profile.jpg"
            alt="Image"
            style="width: 100%; height: auto"
          />
        </div>
        <div class="card-body text">
          <p class="cardheading" style="color: black">James Kariuki</p>
          <p class="info" style="color: black">James Kariuki</p>
          <div class="ratings">
            <i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i>
          </div>
        </div>
      </div>
      <div class="card" style="width: 15rem">
        <div
          class="image"
          style="
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            margin: auto;
          "
        >
          <img
            src="../../../assets/profile.jpg"
            alt="Image"
            style="width: 100%; height: auto"
          />
        </div>
        <div class="card-body text">
          <p class="cardheading" style="color: black">James Kariuki</p>
          <p class="info" style="color: black">James Kariuki</p>
          <div class="ratings">
            <i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i>
          </div>
        </div>
      </div>
      <div class="card" style="width: 15rem">
        <div
          class="image"
          style="
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            margin: auto;
          "
        >
          <img
            src="../../../assets/profile.jpg"
            alt="Image"
            style="width: 100%; height: auto"
          />
        </div>
        <div class="card-body text">
          <p class="cardheading" style="color: black">James Kariuki</p>
          <p class="info" style="color: black">James Kariuki</p>
          <div class="ratings">
            <i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i>
          </div>
        </div>
      </div>
      <div class="card" style="width: 15rem">
        <div
          class="image"
          style="
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            margin: auto;
          "
        >
          <img
            src="../../../assets/profile.jpg"
            alt="Image"
            style="width: 100%; height: auto"
          />
        </div>
        <div class="card-body text">
          <p class="cardheading" style="color: black">James Kariuki</p>
          <p class="info" style="color: black">James Kariuki</p>
          <div class="ratings">
            <i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i>
          </div>
        </div>
      </div>
    </div>

    <p>Cleaners</p>
    <div class="category">
      <div class="card" style="width: 15rem">
        <div
          class="image"
          style="
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            margin: auto;
          "
        >
          <img
            src="../../../assets/profile.jpg"
            alt="Image"
            style="width: 100%; height: auto"
          />
        </div>
        <div class="card-body text">
          <p class="cardheading" style="color: black">James Kariuki</p>
          <p class="info" style="color: black">James Kariuki</p>
          <div class="ratings">
            <i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i>
          </div>
        </div>
      </div>
      <div class="card" style="width: 15rem">
        <div
          class="image"
          style="
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            margin: auto;
          "
        >
          <img
            src="../../../assets/profile.jpg"
            alt="Image"
            style="width: 100%; height: auto"
          />
        </div>
        <div class="card-body text">
          <p class="cardheading" style="color: black">James Kariuki</p>
          <p class="info" style="color: black">James Kariuki</p>
          <div class="ratings">
            <i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i>
          </div>
        </div>
      </div>
      <div class="card" style="width: 15rem">
        <div
          class="image"
          style="
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            margin: auto;
          "
        >
          <img
            src="../../../assets/profile.jpg"
            alt="Image"
            style="width: 100%; height: auto"
          />
        </div>
        <div class="card-body text">
          <p class="cardheading" style="color: black">James Kariuki</p>
          <p class="info" style="color: black">James Kariuki</p>
          <div class="ratings">
            <i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i>
          </div>
        </div>
      </div>
      <div class="card" style="width: 15rem">
        <div
          class="image"
          style="
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            margin: auto;
          "
        >
          <img
            src="../../../assets/profile.jpg"
            alt="Image"
            style="width: 100%; height: auto"
          />
        </div>
        <div class="card-body text">
          <p class="cardheading" style="color: black">James Kariuki</p>
          <p class="info" style="color: black">James Kariuki</p>
          <div class="ratings">
            <i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i>
          </div>
        </div>
      </div>
      <div class="card" style="width: 15rem">
        <div
          class="image"
          style="
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            margin: auto;
          "
        >
          <img
            src="../../../assets/profile.jpg"
            alt="Image"
            style="width: 100%; height: auto"
          />
        </div>
        <div class="card-body text">
          <p class="cardheading" style="color: black">James Kariuki</p>
          <p class="info" style="color: black">James Kariuki</p>
          <div class="ratings">
            <i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i
            ><i class="fa-solid fa-star" style="color: #e2a03f"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
