<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- Company Information -->
      <div class="col">
        <h5>Company</h5>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Testimonial</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>

      <!-- Services -->
      <div class="col">
        <h5>Services</h5>
        <ul>
          <li><a href="#">Project Management</a></li>
          <li><a href="#">Time Tracker</a></li>
          <li><a href="#">Lead Generate</a></li>
          <li><a href="#">Remote Collaboration</a></li>
        </ul>
      </div>

      <!-- Products & More -->
      <div class="col">
        <h5>Product</h5>
        <ul>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Time Schedule</a></li>
        </ul>
        <h5>More</h5>
        <ul>
          <li><a href="#">Why Choose Us</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms and Condition</a></li>
        </ul>
      </div>

      <!-- Newsletter Subscription -->
      <div class="col">
        <h5>Subscribe to our Newsletter</h5>
        <form>
          <input
            type="email"
            placeholder="Enter your Email"
            aria-label="Email Address"
          />
          <button type="submit">Subscribe</button>
        </form>
      </div>
    </div>

    <div class="text-center mt-4">
      <span>&copy; 2024 Site Title. All rights reserved.</span>
    </div>
  </div>
</footer>
